.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.counter-display {
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter-display h1 {
  font-size: 3em;
}

.counter-display span {
  font-size: 8em;
  margin: 0 3rem;
}

.counter-display button {
  font-size: 2em;
  padding: 20px;
}